<mat-card>
  <mat-card-title>welcome to soccer titular team</mat-card-title>
  <mat-card-content>
    <button *ngIf="!initWeekState" mat-raised-button color="accent" (click)="initWeek()">Init Week</button>
    <button *ngIf="initWeekState" mat-raised-button color="accent" (click)="clean()">finalize Week</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card *ngIf="initWeekState">
  <mat-card-title>Please configure the percentage to this Week {{idWeek}}</mat-card-title>
  <mat-card-content style="display: flex;flex-direction: column">
    <mat-form-field>
      <mat-label>Power Percentage</mat-label>
      <input matInput [(ngModel)]="shootingPowerPercentage"  type="number" placeholder="0" [disabled]="isConfiguration">
    </mat-form-field>
    <mat-form-field>
      <mat-label>velocity Percentage</mat-label>
      <input matInput  [(ngModel)]="velocityPercentage" type="number" placeholder="0" [disabled]="isConfiguration">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passes Percentage</mat-label>
      <input matInput  [(ngModel)]="effectivePassesPercentage" type="number" placeholder="0" [disabled]="isConfiguration">
    </mat-form-field>
    <button *ngIf="!isConfiguration" mat-raised-button color="accent" (click)="saveConfigurationPercentage()">Save</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card *ngIf="isConfiguration">
  <mat-card-title>Please load training from team</mat-card-title>
  <mat-card-content style="display: flex;flex-direction: column">
    <button mat-raised-button color="accent" (click)="addPlayer()">Add Player</button>
    <div *ngFor="let player of trainingPlayers">
      <mat-form-field>
        <mat-label>id</mat-label>
        <input matInput [(ngModel)]="player.id"  type="number" placeholder="0" [disabled]="isTraining">
      </mat-form-field>
      <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput  [(ngModel)]="player.name" type="text" placeholder="0" [disabled]="isTraining">
      </mat-form-field>
      <mat-form-field>
        <mat-label>power</mat-label>
        <input matInput  [(ngModel)]="player.power" type="number" placeholder="0" [disabled]="isTraining">
      </mat-form-field>
      <mat-form-field>
        <mat-label>distance</mat-label>
        <input matInput  [(ngModel)]="player.distance" type="number" placeholder="0" [disabled]="isTraining">
      </mat-form-field>
      <mat-form-field>
        <mat-label>time</mat-label>
        <input matInput  [(ngModel)]="player.time" type="number" placeholder="0" [disabled]="isTraining">
      </mat-form-field>
      <mat-form-field>
        <mat-label>passes</mat-label>
        <input matInput  [(ngModel)]="player.passes" type="number" placeholder="0" [disabled]="isTraining">
      </mat-form-field>
    </div>
    <button *ngIf="!isTraining" mat-raised-button color="accent" (click)="saveTraining()">Save</button>
    <button *ngIf="isTraining" mat-raised-button color="accent" (click)="cleanTraining()">Registry Other Training</button>

    <h1>{{msn}}</h1>
  </mat-card-content>
</mat-card>
<br>
<mat-card *ngIf="isConfiguration">
  <mat-card-title>See titular team</mat-card-title>
  <mat-card-content style="display: flex;flex-direction: column">
    <button *ngIf="isConfiguration" mat-raised-button color="accent" (click)="getTitularTeam()">Get titular Team</button>
    <div *ngFor="let titular of titularTeam">
      <mat-card>
        <mat-card-content> <h1>{{titular.id}} {{titular.name}} {{titular.totalScore}}</h1></mat-card-content>
      </mat-card>
      <br>
    </div>
  </mat-card-content>
</mat-card>

